.cx-widget.cx-theme-schwab {
    background-color: #ffffff;
    scrollbar-face-color: #a3a8ae;
    scrollbar-track-color: #212529;
    scrollbar-arrow-color: #a3a8ae;
    font: 16px/24px "CharlesModern-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cx-theme-schwab .cx-overlay {
    box-shadow: inherit;
    background-color: #ffffff;
    overflow: auto;
}

.cx-theme-schwab .cx-overlay .intro-message .pre-message-title,
.cx-theme-schwab td.cx-required span {
    font-family: "CharlesModern-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cx-theme-schwab .cx-overlay p:first-child {
    margin: 0;
}

.cx-theme-schwab .cx-overlay p {
    margin: 16px 0;
    padding: 0;
}

.cx-widget.cx-theme-schwab .cx-theme {
    border-color: #222529 !important
}

.cx-widget.cx-theme-schwab .cx-svg-icon-tone1 {
    fill: #000;
}

.cx-widget.cx-theme-schwab .cx-svg-icon-tone2 {
    fill: #8c8c8c
}

.cx-widget.cx-theme-schwab .cx-svg-icon-shadow1 {
    fill: #000;
    opacity: .2
}

.cx-widget.cx-theme-schwab .cx-svg-icon-shadow2 {
    fill: #000;
    opacity: .1
}

.cx-widget.cx-theme-schwab * {
    border-color: #222529
}

.cx-theme-schwab .cx-common-container .cx-titlebar {
    background-color: #037dae;
    border: 0;
}

.cx-theme-schwab .cx-common-container .cx-minimized .cx-titlebar {
    background-color: #ffffff;
    color: #333333;
}

.cx-widget.cx-theme-schwab .cx-titlebar .cx-title {
    color: #fdfdfd;
    font-size: 19px;
}

.cx-widget.cx-theme-schwab .cx-buttons-window-control .cx-svg-icon-tone1,
.cx-widget.cx-theme-schwab .cx-input-icon-overlay .cx-svg-icon-tone1 {
    fill: #ffffff;
}

.cx-widget.cx-theme-schwab .cx-icon-alert-circle {
    color: #f53131;
}

.cx-widget.cx-theme-schwab .cx-branding,
.cx-widget.cx-theme-schwab .cx-footer {
    color: #ffffff;
    background-color: #657884;
    padding: 5px 24px;
    margin-top: 16px;
}

.cx-theme-schwab .cx-footer .cx-powered-by {
    font-size: 12px;

    .sch-schwabsafe::before {
        font-size: 16px;
    }
}

.cx-widget.cx-theme-schwab .cx-branding *,
.cx-widget.cx-theme-schwab .cx-footer * {
    fill: #98a7b8
}

.cx-widget.cx-theme-schwab .cx-form-control.cx-error {
    border-color: #f53131 !important
}

.cx-theme-schwab div.cx-input-container .cx-message-input {
    font-size: 14px;
}

.cx-widget.cx-theme-schwab .cx-input::placeholder {
    color: #425563;
}

.cx-widget.cx-theme-schwab .cx-input:-moz-placeholder,
.cx-widget.cx-theme-schwab .cx-input::-moz-placeholder {
    color: #425563;
}

.cx-widget.cx-theme-schwab .cx-input:-ms-input-placeholder {
    color: #425563;
}

.cx-widget.cx-theme-schwab .cx-input::-webkit-input-placeholder {
    color: #425563;
}

.cx-theme-schwabwab .cx-theme-schwabwab__form-label input {
    color: #000;
    font-size: 16px;
}

.cx-theme-schwab .cx-input {
    font-size: 16px;
}

.cx-theme-schwab .cx-btn:focus,
.cx-theme-schwab .cx-button-group button:focus,
.cx-theme-schwab .cx-form-control:focus,
.cx-theme-schwab input:focus,
.cx-theme-schwab textarea:focus {
    border-color: #75a8ff !important;
}

.cx-theme-schwab .cx-form .cx-button-group,
.cx-theme-schwab td.cx-required {
    text-align: right;
}

.cx-theme-schwab td.cx-required span {
    font-size: .75em;
    line-height: 1rem;
}

.cx-theme-schwab .cx-btn {
    font-size: 16px;
}

.cx-theme-schwab .cx-form .cx-button-group .cx-btn {
    float: none;
    /* min-height: 44px; */
}

.cx-theme-schwab .cx-btn-default {
    border-color: #037DAE;
    color: #037DAE;
    background-color: #ffffff;
}

.cx-theme-schwab .cx-btn-default:hover {
    background-color: #037DAE;
    color: #ffffff;
    border-color: #037DAE;
}

.cx-theme-schwab .cx-btn.cx-disabled {
    background: #ccc;
}

.cx-theme-schwab .cx-btn-primary {
    color: #fdfdfd;
    border-color: #037DAE;
    background-color: #037DAE;
}

.cx-theme-schwab .cx-btn-primary:hover {
    border-color: #1C6799;
    background-color: #1C6799;
}

.cx-theme-schwab .cx-transcript .cx-message {
    font-size: 16px;
    line-height: 24px;
}

.cx-widget.cx-theme-schwab .cx-ac-dropdown-menu {
    background: #33383d;
    border-color: #222529 !important
}

.cx-widget.cx-theme-schwab .cx-ac-suggestion.cx-active,
.cx-widget.cx-theme-schwab .cx-ac-suggestion:hover {
    background-color: #75a8ff;
    color: #fdfdfd
}

.cx-widget.cx-theme-schwab ::-webkit-scrollbar-thumb {
    background: #a3a8ae
}

.cx-widget.cx-theme-schwab .cx-smokescreen {
    background-color: #33383d;
    opacity: .7
}

.cx-widget.cx-theme-schwab .cx-dialog-container .cx-dialog {
    background-color: #33383d;
    border-color: #222529 !important
}

.cx-widget.cx-theme-schwab .cx-theme-background {
    background-color: #33383d
}

.cx-widget.cx-theme-schwab .cx-theme-border {
    border: 1px solid #222529 !important
}

.cx-widget.cx-theme-schwab .cx-theme-text {
    color: #fdfdfd
}

.cx-theme-schwab .cx-transcript .cx-message .cx-name {
    margin-bottom: 16px;
}

.cx-theme-schwab .cx-transcript .cx-message .cx-time {
    margin-top: 8px;
}

.cx-theme-schwab .cx-transcript .cx-message.cx-you .cx-bubble .cx-name {
    background-color: #037DAE;
    color: #ffffff;
}

.cx-theme-schwab .cx-transcript .cx-message.cx-you .cx-bubble {
    background-color: #037DAE;
    color: #ffffff;
}

.cx-theme-schwab .cx-message.cx-you .cx-message-text a {
    color: #fff;
}

.cx-theme-schwab .cx-message.cx-you .cx-bubble-arrow .cx-left,
.cx-theme-schwab .cx-message.cx-you .cx-bubble-arrow .cx-right {
    fill: #037DAE;
}

.cx-theme-schwab .cx-message.cx-bot .cx-bubble-arrow .cx-left,
.cx-theme-schwab .cx-message.cx-bot .cx-bubble-arrow .cx-right,
.cx-theme-schwab .cx-message.cx-agent .cx-bubble-arrow .cx-left,
.cx-theme-schwab .cx-message.cx-agent .cx-bubble-arrow .cx-right {
    fill: #ffffff;
}

.cx-theme-schwab .cx-menu .cx-svg-icon-tone1 {
    fill: #037DAE;
}

.cx-theme-schwab .cx-avatar-wrapper .cx-svg-icon-tone1 {
    fill: #037DAE;
}

.cx-widget.cx-theme-schwab .cx-theme-icon-interactive1 svg .cx-svg-icon-tone1 {
    fill: #5081e1
}

.cx-widget.cx-theme-schwab .cx-theme-icon-positive svg .cx-svg-icon-tone1 {
    fill: #4ac764
}

.cx-widget.cx-theme-schwab .cx-theme-icon-negative svg .cx-svg-icon-tone1 {
    fill: #f53131
}

.cx-widget.cx-theme-schwab .cx-theme-icon-warning svg .cx-svg-icon-tone1 {
    fill: #f8a740
}

.cx-widget.cx-theme-schwab .cx-warning {
    color: #f53131 !important
}

.cx-widget.cx-theme-schwab .cx-warning .cx-icon svg * {
    fill: #f53131 !important
}

.cx-widget.cx-theme-schwab .cx-countdown {
    color: #fdfdfd
}

.cx-widget.cx-theme-schwab .cx-countdown .cx-icon svg * {
    fill: #fdfdfd
}

.cx-theme-schwab .cx-minimized .cx-webchat-counter {
    border-radius: 20px;
    background-color: #ffffff;
    color: #000;
    padding: 0;
}

.cx-theme-schwab .cx-webchat .cx-send {
    display: inherit !important;
}

.cx-theme-schwab .cx_custom_alert ul {
    text-align: left;
    padding-inline-start: 112px;
}

.chat-flash {
    animation-name: chat-flash;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes chat-flash {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.cx-webchat .cx-transcript .chat_disconnect_img {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cx-webchat .cx-transcript .hr-redLine {
    flex: 1;
}

.cx-webchat .cx-rich-media.cx-quick-replies {
    text-align: left
}

.cx-webchat .cx-transcript .cx-message-group>.cx-message.cx-participant.cx-Bot:first-child .cx-avatar-wrapper {
    display: none !important;
}

.cx-webchat .cx-transcript .cx-message-group>.cx-message.cx-participant.cx-Bot .cx-bubble {
    margin: 0;
    padding: 0 40px 0 0;
}

.cx-rich-media.cx-quick-replies .cx-quick-reply {
    display: block;
    margin: 12px;
}

.cx-rich-media.cx-quick-replies .cx-quick-reply>div {
    border: 1px solid #026D97;
    border-radius: 22px;
    padding: 5px 30px;
    font-weight: bold;
    color: #026D97;
    font-family: "CharlesModern-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cx-webchat .cx-transcript.increase-transcript-height {
    height: 400px !important;
}

.cx-webchat div.cx-input-container.hide-inputbox {
    display: none !important;
}

.inline-termsAndConditions {
    margin-top: 8px;
    margin-bottom: 8px;
}

.cx-webchat .cx-transcript .cx-Bot .cx-message-text,
.inline-termsAndConditions-content {
    background-color: #E5EBF1;
    padding: 8px;
}

.inline-termsAndConditions button,
#seeLessBtn {
    border: none;
    background-color: #fff;
    margin: 8px 4px;
    color: #026D97;
}

.inline-termsAndConditions button.sch-plus:before {
    content: "\e65d";
    position: absolute;
    font-family: 'Schwab-Icon-Font';
    color: #026D97;
    font-size: 24px;
    margin: -16px -8px;
    width: 24px;
    height: 24px;
}

.inline-termsAndConditions button.sch-minus:before {
    content: "\e65e";
    position: absolute;
    font-family: 'Schwab-Icon-Font';
    color: #026D97;
    font-size: 24px;
    margin: -16px -8px;
}

.cx-theme-schwab .cx-transcript .cx-message.cx-you .cx-bubble.participant {
    background-color: transparent;
    display: inline-block;
    color: #111111;
    padding: 8px;
}

.cx-theme-schwab .cx-transcript .cx-message.cx-you .cx-bubble.participant .cx-message-text {
    background-color: #E5EBF1;
    padding: 8px;
    text-align: center;
}

.cx-webchat .cx-transcript .cx-time {
    margin-bottom: 8px;
}